@font-face {
    font-family: tldraw_mono;
    font-weight: normal;
    font-style: normal;
    src: url('../../../public/fonts/mononoki-Regular.ttf');
    size-adjust: 80%;
}
@font-face {
    font-family: tldraw_mono;
    font-weight: bold;
    font-style: normal;
    src: url('../../../public/fonts/mononoki-Bold.ttf');
    size-adjust: 80%;
}
@font-face {
    font-family: tldraw_mono;
    font-weight: normal;
    font-style: italic;
    src: url('../../../public/fonts/mononoki-Italic.ttf');
    size-adjust: 80%;
}
@font-face {
    font-family: tldraw_mono;
    font-weight: bold;
    font-style: italic;
    src: url('../../../public/fonts/mononoki-BoldItalic.ttf');
    size-adjust: 80%;
}
[data-font='mono'] {
    tab-size: 4;
    font-family: tldraw_mono;

    code {
        text-decoration: underline;
    }
    /*
    h1 {
        font-weight: 800;
        font-size: 150%;
        font-family: var(--playpen-sans-font);
    }

    h2 {
        font-weight: 600;
        font-size: 125%;
        font-family: var(--playpen-sans-font);
    }

    h3 {
        font-family: var(--nerko-font), NerkoRussianFallback;
        font-weight: normal;
    }

    i,
    em {
        font-family: var(--morning-breeze-font);
    }

    font-family: 'Monofur' !important;
    */
}
