@font-face {
    font-family: tldraw_mono;
    font-weight: 400;
    src: url('/fonts/fantasquesansmono-regular.otf');
}

[data-font='mono'] {
    tab-size: 4;

    /*
    h1 {
        font-weight: 800;
        font-size: 150%;
        font-family: var(--playpen-sans-font);
    }

    h2 {
        font-weight: 600;
        font-size: 125%;
        font-family: var(--playpen-sans-font);
    }

    h3 {
        font-family: var(--nerko-font), NerkoRussianFallback;
        font-weight: normal;
    }

    i,
    em {
        font-family: var(--morning-breeze-font);
    }

    font-family: 'Monofur' !important;
    */
}
