/* Good sans-serif fonts: Jost, Nationa Park, SNPro
*/

@font-face {
    font-family: tldraw_sans;
    font-style: normal;
    font-weight: normal;
    src: url('/public/fonts/NationalPark-Regular.ttf');
    size-adjust: 80%;
}

@font-face {
    font-family: tldraw_sans;
    font-weight: normal;
    font-style: italic;
    src: url('/public/fonts/SofiaSans-Italic.ttf');
    size-adjust: 80%;
}

@font-face {
    font-family: tldraw_sans;
    font-style: normal;
    font-weight: bold;
    src: url('/public/fonts/NationalPark-SemiBold.ttf');
    size-adjust: 80%;
}

@font-face {
    font-family: tldraw_sans;
    font-weight: bold;
    font-style: italic;
    src: url('/public/fonts/NationalPark-Regular.ttf');
    size-adjust: 80%;
}

@font-face {
    font-family: 'Dosis Bold';
    font-weight: bold;
    font-style: italic;
    src: url('/public/fonts/Dosis-Bold.ttf');
    size-adjust: 92%;
}

[data-font='sans'] {
    code {
        background-color: rgb(from currentColor r g b / 7.5%);
        border-radius: 4px;
    }

    ul::marker {
        font-size: 50% !important;
    }

    h1,
    h2,
    h3 {
        font-family: 'Dosis Bold';
    }

    em {
        strong & {
            text-decoration: underline !important;
            text-decoration-style: dashed !important;
            text-decoration-color: rgb(from currentColor r g b / 50%) !important;
            text-underline-offset: 4px;
            font-style: normal !important;
            font-weight: normal !important;
            text-decoration-thickness: 1px !important;
            color: var(--base-color) !important;
        }
    }
}
