h1 {
    position: relative;
    display: inline-block;
    &::before {
        content: '';
        bottom: 0%;
        left: -8px;
        width: calc(100% + 16px);
        height: 33%;
        bottom: 10%;
        background: rgb(from currentColor r g b / 15%);
        display: block;
        position: absolute;
        border-radius: 4px;
        z-index: -1;
    }
}
h2 {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
h3 {
    margin-bottom: 4px;
}
