$window-body-color: rgba(255, 255, 255, 0.7);
$window-border-color: rgba(0, 0, 0, 0.3);

$toolbar-view-color: rgba(255, 255, 255, 0.7);
$toolbar-edit-color: rgba(255, 225, 225, 0.7);

$note-hovered-border-color: rgba(255, 150, 150, 0.7);
$note-hovered-header-color: rgba(255, 53, 53, 0.7);

$note-selected-background-color: rgb(220, 227, 234);
$note-selected-border-color: rgb(100, 155, 206);
$note-selected-header-color: rgba(70, 130, 180, 1);
