code {
    border: 1px solid transparent;
    font-family: "Monofur" !important;
    font-size-adjust: 90%;

    h3 & {
        font-family: "Comic Shanns" !important;
        font-size: 78%;
        font-weight: bold;
        background-color: transparent !important;
    }
}
