:root {
    --internal-link-color: dodgerblue;
    --external-link-color: darkviolet;
    --small-text-color: dimgray;
}

:where(h1, h2, h3, h4) {
    color: var(--primary-color);
}

p:where(h1 ~ p, h2 ~ p, h3 ~ p, ul ~ p) {
    color: var(--base-color);
}

p:not(ul p):not(h1 ~ p, h2 ~ p, h3 ~ p, p:has(strong)) {
    color: var(--primary-color);
}

p:not(h1 ~ p, h2 ~ p, h3 ~ p) {
    color: var(--base-color);
}

strong {
    color: var(--primary-color);
}

/* -- Violet ---------------------------------------------------------------- */

[style*="color: violet"] {
    --base-color: white;
    --primary-color: violet;
}

[style*="color: hotpink"] {
    --base-color: white;
    --primary-color: hotpink;
}

/* -- Blue, Yellow, Orange -------------------------------------------------- */

:where([style*="color: deepskyblue"], [stroke="deepskyblue"]) {
    --base-color: white;
    --primary-color: deepskyblue;

    stroke: var(--primary-color);
}

:where([style*="color: dodgerblue"], [stroke="dodgerblue"]) {
    --base-color: white;
    --primary-color: dodgerblue;

    stroke: var(--primary-color);
}

:where([style*="color: gold"], [stroke="gold"]) {
    --base-color: white;
    --primary-color: gold;

    stroke: var(--primary-color);
}

:where([style*="color: darkorange"], [stroke="darkorange"]) {
    --base-color: white;
    --primary-color: darkorange;

    stroke: var(--primary-color);
}

/* -- Green, Red ------------------------------------------------------------ */

:where([style*="color: green"], [stroke="green"]) {
    --base-color: white;
    --primary-color: green;

    stroke: var(--primary-color);
}

:where([style*="color: mediumseagreen"], [stroke="mediumseagreen"]) {
    --base-color: white;
    --primary-color: mediumseagreen;

    stroke: var(--primary-color);
}

:where([style*="color: crimson"], [stroke="crimson"]) {
    --base-color: white;
    --primary-color: crimson;

    stroke: var(--primary-color);
}

:where([style*="color: lightsalmon"], [stroke="lightsalmon"]) {
    --base-color: white;
    --primary-color: lightsalmon;

    stroke: var(--primary-color);
}
