:where(h1, h2, h3, h4) {
    color: var(--primary-color);
}

p:where(h1 ~ p, h2 ~ p, h3 ~ p, ul ~ p) {
    color: var(--base-color);
}

p:not(ul p):not(h1 ~ p, h2 ~ p, h3 ~ p, p:has(strong)) {
    color: var(--primary-color);
}

p:not(h1 ~ p, h2 ~ p, h3 ~ p) {
    color: var(--base-color);
}

strong {
    color: var(--primary-color);
}
