:root {
    --playpen-sans-font:
        "Playpen Sans", /* slash symbol = */ "Alkatra",
        /* ↑↓→← symbols = */ "Vollda";

    --morning-breeze-font:
        "Morning Breeze Light", /* slash symbol = */ "Alkatra",
        /* ↑↓→← symbols = */ "Vollda";

    --nerko-font: "Nerko One";
}
