[data-color-mode="dark"] {
    --internal-link-color: #60a5fa;
    --external-link-color: #a78bfa;
}

[data-color-mode="light"] {
    --internal-link-color: dodgerblue;
    --external-link-color: darkviolet;
}

a {
    color: var(--external-link-color) !important;
    text-decoration-style: dashed !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 4px !important;

    &[href^="/"] {
        color: var(--internal-link-color) !important;
    }
}
