.root {
  width: 960px;
  margin: 4rem auto 10rem;

  h1 {
    font-size: 2rem;
    margin: 0 0 1rem -1rem;
  }

  h2 {
    margin: 1rem 0 0.5rem -1rem;
  }

  h3 {
    margin: 1rem 0 1rem -1rem;
  }

  p {
    margin: 0 0 0.5rem;
  }

  ul {
    list-style-type: none;

    li {
      &::before {
        content: '· ';
      }
    }
  }
}
