$note-width: 640px;

.root {
  margin-bottom: 1rem;
  padding: 2.5rem 2rem;

  width: 800px;
  background: linear-gradient(97.91deg, #ffffff 1.15%, #f0f8ff 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}
