.root {
    margin: 8px 8px 8px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.selection {
    display: flex;
    flex-direction: column;
}

.box {
    border-radius: 2px;
    margin: 2px;
    width: 8px;
    height: 8px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 20px;
}
