@import './styles/colors.css';
@import './styles/code.css';
@import './styles/links.css';
@import './styles/small-text.css';
/*@import './modules/blocks/block-backgrounds.css';*/
@import './modules/blocks/block-mono.css';
@import './modules/blocks/block-draw.css';
@import './modules/blocks/block-serif.css';
@import './modules/blocks/block-sans.css';
@import './modules/icons/icons.css';
@import './modules/blocks/headers.css';
@import './modules/strike-through/strike-through.css';
@import './modules/math/plot.css';

:root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #9ca3af;
        --text-h: #f3f4f6;
        --bg: #16171d;
        --border: #2e303a;
        --code-bg: #1f2028;
        --accent: #c084fc;
        --accent-bg: rgba(192, 132, 252, 0.15);
        --accent-border: rgba(192, 132, 252, 0.5);
        --social-bg: rgba(47, 48, 58, 0.5);
        --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

ul {
    padding-left: 0 !important;

    ul {
        padding-left: 2rem !important;
    }

    ::marker {
        content: '· ';
    }
}

hr {
    border: none;
    .tl-theme__dark & {
        border-top: 1px solid rgb(255, 255, 255, 20%);
    }

    .tl-theme__light & {
        border-top: 1px solid rgb(0, 0, 0, 20%);
    }
}

hr ~ p,
hr ~ ul {
    opacity: 75%;
}

.tl-theme__dark {
    --color-background: oklch(18.1% 0.005 285.823);
}

.tl-theme__light {
    --color-background: #f9f5ff;
}

sup {
    color: mediumvioletred;
    font-family: 'Morning Breeze', Alkatra, Vollda;
    font-size: 0.6em;
}

sub {
    color: slateblue;
    font-family: 'Morning Breeze', Alkatra, Vollda;
    font-style: italic !important;
    font-size: 0.6em;
}
@font-face {
    font-family: 'LibertinusMath';
    src: url('/fonts/LibertinusMath-Regular.ttf');
}

.katex {
    font-family: 'LibertinusMath', serif;
    font-size: 1.3em;
}

/*@font-face {
    font-family: 'Euler';
    src: url('/public/fonts/Euler.otf');
}

.katex {
    font-family: 'Euler', serif;
}*/

.tl-shape[data-shape-type='math'] {
    z-index: 999999999 !important;
}
