@import "./styles/colors.css";
@import "./styles/fonts.css";
@import "./styles/code.css";

:root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow:
        rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #9ca3af;
        --text-h: #f3f4f6;
        --bg: #16171d;
        --border: #2e303a;
        --code-bg: #1f2028;
        --accent: #c084fc;
        --accent-bg: rgba(192, 132, 252, 0.15);
        --accent-border: rgba(192, 132, 252, 0.5);
        --social-bg: rgba(47, 48, 58, 0.5);
        --shadow:
            rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
            rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

@font-face {
    font-family: tldraw_sans;
    font-weight: 400;
    src: url("/fonts/YsabeauOffice-Regular.ttf");
}

@font-face {
    font-family: tldraw_sans;
    font-weight: 600;
    src: url("/fonts/YsabeauOffice-SemiBold.ttf");
}

@font-face {
    font-family: tldraw_sans;
    font-weight: 800;
    src: url("/fonts/YsabeauOffice-SemiBold.ttf");
}

@font-face {
    font-family: tldraw_draw;
    font-weight: 800;
    src: url("/fonts/PlaypenSans-ExtraBold.ttf");
}

@font-face {
    font-family: tldraw_draw;
    font-weight: 600;
    src: url("/fonts/PlaypenSans-Bold.ttf");
}

@font-face {
    font-family: tldraw_draw;
    font-style: italic;
    src: url("/fonts/MorningBreeze-Light.otf");
}

@font-face {
    font-family: tldraw_draw;
    font-weight: 400;
    src: url("/fonts/MorningBreeze-Light.otf");
}

@font-face {
    font-family: NerkoRussianFallback;

    src: url("/fonts/PlaypenSans-SemiBold.ttf");
    size-adjust: 80%;
}

:root {
    --playpen-font: "Playpen Sans";
    --nerko-font: "Nerko One";
}

[data-font="sans"] {
    h1 {
        font-family: "Lilita One";
    }

    h2 {
        font-family: "Cuprum";
    }
}
[data-font="draw"] {
    h3 {
        font-family: var(--nerko-font), NerkoRussianFallback;
        font-weight: normal;
    }

    p {
        :where(b, strong) {
            font-family: var(--playpen-font);
            font-weight: 500;
            font-size: 90%;
        }
    }

    h1 {
        font-weight: 800;
        font-size: 150%;
    }

    i,
    em {
        font-weight: 300;
        font-style: italic;
        font-family: "Morning Breeze Light";
    }
    h2 {
        font-weight: 600;
        font-size: 125%;
    }
}

ul {
    ::marker {
        content: "- ";
    }
}

mark {
    background-color: transparent !important;
    border-radius: 0 !important;
    /*border-bottom: 2px solid darkgray;*/
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: darkgray;
}
