@use 'sass:meta';

:root {
  // Solarized colors

  --base03-color: #002b36;
  --base02-color: #073642;
  --base01-color: #586e75;
  --base00-color: #657b83;
  --base0-color: #839496;
  --base1-color: #93a1a1;
  --base2-color: #eee8d5;
  --base3-color: #fdf6e3;
  --yellow-color: #b58900;
  --orange-color: #cb4b16;
  --red-color: #dc322f;
  --magenta-color: #8d4a69;
  --violet-color: #6c71c4;
  --blue-color: #268bd2;
  --cyan-color: #2aa198;
  --green-color: #76af1a;

  // Limbo colors

  --magenta-1-color: #e7a4be;
  --magenta-2-color: #dd7ba2;
  --magenta-3-color: #d25385;
  --magenta-4-color: #c0326a;
  --magenta-5-color: #972854;

  --forest-1-color: #a0ddc9;
  --forest-2-color: #78ceb2;
  --forest-3-color: #50c09b;
  --forest-4-color: #3aa07e;
  --forest-5-color: #2b785f;

  --aqua-1-color: #bfe4ec;
  --aqua-2-color: #8fd1df;
  --aqua-3-color: #60bdd1;
  --aqua-4-color: #37a5bd;
  --aqua-5-color: #297c8e;

  --steel-1-color: #7babe2;
  --steel-2-color: #5291d9;
  --steel-3-color: #2d77cc;
  --steel-4-color: #245fa3;
  --steel-5-color: #1b477a;

  --sunflower-1-color: #ffce66;
  --sunflower-2-color: #ffbe33;
  --sunflower-3-color: #ffae00;
  --sunflower-4-color: #cc8b00;
  --sunflower-5-color: #996800;

  --subtle-color: #8d9393;

  --success-color: green;
  --danger-color: red;
}

.light-theme {
  --text-color: #383838;
  --body-color: #f3f3f3; // f6f7fb

  --header-border-color: #a0ceff;
  --scrollbar-color: #e8eefa;
  --scrollbar-thumb-color: #abd1ff;
  --list-symbol-color: black;

  --internal-link-color: var(--steel-2-color);
  //--internal-link-opened-background-color: #ceeaff;
  --external-link-color: var(--magenta-4-color);

  --tag-color: var(--sunflower-4-color);

  --code-color: var(--steel-5-color);
  --code-background-color: #f1f1f8;
  --pre-color: var(--steel-5-color);
  --pre-background-color: #f1f1f8;

  --spinner-color: var(--blue-color);

  --hr-color: black;
}

.dark-theme {
  --text-color: #e5e5e5;
  --body-color: #28282c;

  --hr-color: #93a1a1;

  --internal-link-color: var(--steel-1-color);
  //--internal-link-opened-background-color: #2d4f58;
  --external-link-color: var(--magenta-2-color);

  --tag-color: var(--sunflower-1-color);

  --code-color: #cec9a1;
  --emphasized-color: #e3e0ba; // Italic
  --list-symbol-color: #b4aeae;
  --body-color-darker: #212121;
  --body-color-lighter: #111;
  --spinner-color: var(--blue-color);
}

body.light-theme {
  @include meta.load-css('highlight.js/styles/stackoverflow-light.css');
}

body.dark-theme {
  @include meta.load-css('highlight.js/styles/stackoverflow-dark.css');
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.blue {
  color: var(--blue-color);
}

.yellow {
  color: var(--yellow-color);
}
