$nunito: 'Nunito', Arial, Helvetica, sans-serif;

@mixin nunito($font-size: 1.1rem, $line-height: 1.5rem, $font-weight: 500) {
  font-family: $nunito;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

$mono: 'Anka/Coder Condensed', monospace;

@mixin mono($font-size: 1.1rem, $line-height: 1.5rem, $font-weight: 500) {
  font-family: $mono;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
