@mixin primary($font-size: 1rem, $line-height: 1.5rem, $font-weight: 500) {
  font-family: Rubik, Candara, Arial, Helvetica, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin primary-small-caps($font-size: 1.1rem, $line-height: 1.5rem, $font-weight: 400) {
  font-family: 'Nunito SemiBold', Arial, Helvetica, sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin mono($font-size: 1rem, $line-height: 1.5rem, $font-weight: 400) {
  font-family: 'Iosevka SS08 Medium', Consolas, monospace;
  //font-stretch: expanded;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
