@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --red-color: #ef4444;
    --yellow-color: #eab308;
    --green-color: #22c55e;
    --blue-color: #3b82f6;

    --orange-color: #f97316;
    --cyan-color: #06b6d4;
    --magenta-color: #d946ef;
    --violet-color: #8b5cf6;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}

@layer components {
  .list-bullet > li {
    position: relative;
  }

  .list-bullet > li::before {
    @apply absolute -left-4 text-slate-400;
    content: '-';
  }

  .backlinks {
    grid-area: backlinks;
  }

  /* TODO: where to put this? */
  .note h1 {
    @apply mt-4 mb-2 text-2xl font-medium;
  }

  .note h2 {
    @apply my-2 border-b border-slate-300  text-xl;
  }

  .note h3 {
    @apply my-1 text-lg;
  }

  .note p {
    @apply my-4;
  }

  .note ul {
    @apply list-bullet pl-6;
  }

  .note strong {
    @apply font-medium;
  }

  .note a.internal {
    @apply text-blue-500 transition hover:opacity-50;
  }

  .note a.external {
    @apply text-pink-500 transition hover:opacity-50;
  }

  .note a.external::after {
    @apply inline-block -rotate-12 pl-1;
    content: '⤻';
  }

  pre {
    tab-size: 2;
  }
}
