.info,
.q,
.check,
.cross,
.book,
.video {
  position: relative;
  bottom: -4px;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  border-radius: 50%;
  background-color: #3c3c3c;
}

/*
.info::before,
.q::before,
.check::before,
.cross::before,
.book::before,
.video::before {
 position: relative;
 bottom: 6px;
 display: inline-block;
}

.check::before {
 content: '✔';
 color: forestgreen;
}

.q::before {
 font-weight: bold;
 content: '?';
 color: var(--cyan-color);
 -webkit-text-stroke: thin var(--cyan-color);
}

.info::before {
 font-weight: bold;
 content: '!';
 color: var(--blue-color);
 -webkit-text-stroke: thin var(--blue-color);
}

.cross::before {
 content: '✘';
 color: var(--red-color);
}

.book::before {
 font-size: 0.8rem;
 content: '📚';
}

.video::before {
 font-size: 0.8rem;
 content: '📺';
}
 */
