s {
    text-decoration-color: transparent;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -5%;
        width: 110%;
        height: 2px;
        background-color: red;
        rotate: 5deg;
    }
}
